{:deps {com.cognitect/transit-clj {:mvn/version "1.0.333"}
        aleph/aleph {:mvn/version "0.7.0-rc1"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.11"}
        com.aayushatharva.brotli4j/brotli4j {:mvn/version "1.13.0"}
        com.github.luben/zstd-jni {:mvn/version "1.5.5-11"}
        metosin/muuntaja-msgpack {:mvn/version "0.6.8"}
        metosin/reitit-middleware {:mvn/version "0.7.0-alpha7"}
        metosin/reitit-ring {:mvn/version "0.7.0-alpha7"}
        metosin/reitit-spec {:mvn/version "0.7.0-alpha7"}}

 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["env/dev" "dev-resources"]}

  :test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2-SNAPSHOT"}
                ring/ring-mock {:mvn/version "0.4.0"}}
   :exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}}}
